{% extends "my_app/layout.html" %} 
{% block title %}{{ item_searched| title }}{%endblock %} 
{% block body %} 
{% load static %}

<!-- if item is added change to a checkmark, added items will turn back into a plus symbol if unchecked -->
<div class="container">
  <div class="centered">
    <h1>{{ item_searched| title }}</h1>
    {% for item in items %}
    <div class="row">
      <div class="col s12 m6">
        <div class="card orange lighten-5" style="padding: 10%">
          <div class="card-image">
            <img src="{{ item.2 }}" width="300px" height="300px" />
            <a class="btn-floating halfway-fab waves-effect waves-light red"
              ><i
                data-item_name="{{ item.0 }}"
                data-item_price="{{item.1}}"
                data-action="add"
                class="material-icons"
                >add</i
              ></a
            >
          </div>
          <div class="card-content">
            <span class="card-title">{{ item.0 }}</span>
            {% if item.1 is None %}
              <p>Current Price: Unavailable</p>
            {% else %}
              <p>Current Price: {{ item.1 }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
